/* Wordpress generates these css classes and ids. */
.clearfix 
{
	clear: both;
}
li ul {
	margin: 0 !important;
	padding: 0 !important;	
}
aside * ul { list-style-type: none; color: #666666; }
.alignleft { float: left; }
.alignright { float: right; }

/* Basic two-column layout on a 960px grid */
#container
{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}
#main, #header-container {
	padding-left: 16px;
}
#right-column, #right-header
{
    float:left;
    width:300px;
    margin-left: 32px;
}
#left-column, #left-header
{
    width: 600px;
    float: left;
}
#left-column article
{
    margin-bottom: 32px;
}
#page-list, #breadcrumbs, aside section ul, .textwidget, .tagcloud
{
    margin-bottom: 16px;
}
.post-meta, .commentlist li
{
    margin-top: 16px;
    margin-bottom: 16px;
}
p, .post-title
{
    margin-top: 8px;
    margin-bottom: 8px;
}
.children li
{
	padding-left: 16px;
	width: 200px;
}

/* flatten lists in navigation menus */
#header-container nav li, .commentlist, .children
{
  display: inline;
  list-style-type: none; 
}
.comment-awaiting-moderation
{
	color: #CC6600;
}






